@charset "utf-8";

.concept section div.text_box div.title_en {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-top: 2vh;
    line-height: 1.5em;
}

.concept section {
    text-align: center;
    margin-top: 8vh;
}

.concept section div.text_box {
    text-align: center;
    max-width: 600px;
    display: inline-block;
}

.concept section h2.title_ja {
    font-weight: bold;
    font-size: 56px;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5em;
}

.concept section div.text_box p.text {
    text-align: left;
    line-height: 2em;
    margin: 10px auto;

}

@media screen and (max-width:767px) {
    .concept main div {
        text-align: center;
    }
    
    .concept main div.title_en {
        text-align: left;
        display: inline-block;
        line-height: 1.5em;
    }

    .concept section h2.title_ja {
        font-size: 32px;
        text-align: left;
        writing-mode: vertical-rl;
        line-height: 1.5em;
    }

    .ellipse_1, .ellipse_2 {
        width: 20vh;
        height: 20vh;
    }

    .icon {
        padding: 6em 4em 4em 0em;
    }

}


  /*▼以下ローディング画面 */

  #loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

  }

  .roading {
    text-align: center;
}

.roading .ellipse_1 {
    width: 7vh;
    height: 7vh;
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center bottom;
}

.roading .ellipse_2 {
    width: 7vh;
    height: 7vh;
    bottom: 0px;
    left: 50%;
}

.roading .icon {
    margin-top: 7em;
    position: relative;
    padding: 2em;
    text-align: center;
}

@keyframes bounce {
    0%   { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態 */
    30%  { transform: scale(1.0, 1.0) translate(0%, -5%); } /* 地面に着地し、その変動で潰れだす */
    40%  { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 潰れた反動で一瞬元に戻る */
    50%  { transform: scale(1.0, 1.0) translate(0%, -7%); } /* 潰れた反動で縦に伸び、その勢いでバウンド開始 */
    60%  { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 潰れた反動が終り、空中で元に戻る */
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態に戻る */
}

.loaded {
    opacity: 0;
    visibility: hidden;
  }
  




