@charset "utf-8";

div.contactpage main div.contact_text {
    text-align: center;
    margin-top: 100px;
}

div.contactpage main div.contact_text p.title_en {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

div.contactpage main div.contact_text h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.form_box {
    margin: 0 auto;
    max-width: 600px;
    transform: translateX(-10%);
}

.btn_primary {
    background-color: #0c4b2f;
    border: 1px solid #0c4b2f;
    color: #fff;
    cursor: pointer;
    display: block;
    font-weight: bold;
    line-height: 1;
    max-width: 240px;
    padding: 24px;
    text-align: center;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    width: 100%;
    &:hover {
        background-color: #fff;
        color: #0c4b2f;
    }
}
.form {
    padding: 1em;
    text-align: center;

}
.form_list {
        margin-top: 24px;
        display: flex;
        justify-content: left;
        align-items: baseline;
        gap: 1.5em;
    }
    

.form_title {
    font-size: 18px;
    width: 40%;
    text-align: right;
    .required {
        color: #FF0000;
        margin-left: 4px;
    }
}

.form_input[type="text"],
.form_input[type="email"] {
    background-color: #FAFAFA;
    border: 1px solid #CCC;
    padding: 16px;
    &::placeholder {
        color: #aaa;
    }
}
.form_input[type="checkbox"] {
    margin-right: 4px;
    appearance: auto;
}
.form_contents {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 60%;
    label {
        margin-right: 8px;
    }
}
.error {
    color: red;
    font-size: 14px;
}
.btn_wrap {
    display: flex;
    justify-content: right;
    margin-top: 40px;
}

@media screen and (max-width:767px) {
    .form_title {
        font-size: 1em;
        width: 100%;
        /* text-align: center; */
        margin: 0 auto;
        text-align: center;
    }

    .form_list {
        flex-direction: column;
    }

    .form_contents {
        display: flex;
        flex-direction: column;
        /* margin-top: 16px; */
        width: 100%;
        margin-top: 0;
 
    }

    .form_list {
        gap: 0.5em;
    }
    
    div.contactpage main div.contact_text h2 {
        font-size: 24px;
    }

    div.contactpage main div.contact_text p.title_en {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
    }

    div.contactpage main div.contact_text {
        margin-top: 60px;
    }

    .form_box {
        transform: translateX(0%);
    }
    
}


  /*▼以下ローディング画面 */

  #loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

  }

  .roading {
    text-align: center;
}

.roading .ellipse_1 {
    width: 7vh;
    height: 7vh;
    animation-name: bounce;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center bottom;
}

.roading .ellipse_2 {
    width: 7vh;
    height: 7vh;
    bottom: 0px;
    left: 50%;
}

.roading .icon {
    margin-top: 7em;
    position: relative;
    padding: 2em;
    text-align: center;
}

@keyframes bounce {
    0%   { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態 */
    30%  { transform: scale(1.0, 1.0) translate(0%, -5%); } /* 地面に着地し、その変動で潰れだす */
    40%  { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 潰れた反動で一瞬元に戻る */
    50%  { transform: scale(1.0, 1.0) translate(0%, -7%); } /* 潰れた反動で縦に伸び、その勢いでバウンド開始 */
    60%  { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 潰れた反動が終り、空中で元に戻る */
    100% { transform: scale(1.0, 1.0) translate(0%, 0%); } /* 初期状態に戻る */
}

.loaded {
    opacity: 0;
    visibility: hidden;
  }
  
